// Config
@import './config/_variables';
@import './config/_mixins';
@import './config/_colors';
@import './config/_reset';
@import './config/_typo';

// Components
@import './molecule/_banner';
@import './molecule/_burger';


@import './organism/_nav';
@import './organism/_footer';
@import './organism/_article';