// Generic colors

$white: #fff;
$black: #000;
$gray-1: #333;
$gray-2: #7f7f7f;
$gray-3: #ccc;
$gray-4: #e5e5e5;
$gray-5: #f6f6f6;
$gray-6: #fbfbfb;

// ---------------------------------------------------------------------------
// Brand colors
$primary: #c8b60a;