
* {
    box-sizing: border-box;
}

html, 
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.input--hidden {
	position: fixed;
	top: 50%;
	left: -99999px;
} 

a:hover {
	color: $primary;
	transition: color $timing-medium;
}

.desk-only {
	display: none;
	@include for('tablet+1') {
		display: block;
	}
}