@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$primary-font: 'Open Sans', sans-serif;


body {
	font-family: $primary-font;
	font-size: 16px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-family: $primary-font;
	font-size: 2em;
	margin: .67em 0;
	line-height: 1;
	font-weight: 700;
}

h2 {
	font-family: $primary-font;
	font-size: 1.5em;
	margin: .83em 0;
	line-height: 1;
	font-weight: 700;
}

h3 {
	font-family: $primary-font;
	font-size: 1.17em;
	margin: 1em 0;
	line-height: 1;
	font-weight: 700;
}

h4 {
	font-family: $primary-font;
	font-size: 1em;
	margin: 1.33 0;
	line-height: 1.4;
	font-weight: 700;
}

h5 {
	font-family: $primary-font;
	font-size: .83em;
	margin: 1.67em 0;
	line-height: 1.4;
	font-weight: 700;
}

p {
	font-family: $primary-font;
	font-size: 1em;
	line-height: 1.4;
	font-weight: 400;
}

strong {
	font-weight: 600;
}