.banner {
    $cls: &;
    position: relative;
    width: 100%;

    &--fixed-height {
        position: relative;
        height: 250px;

        #{$cls}__img {
            width: 100%;
            height: 100%;
            // Not supported by IE
            object-fit: cover;
        }
    }

    &__img {
        width: 100%;
        vertical-align: middle;

        &--logo {
            width: 80%;
        }
    }
    &__content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        &--dark {
            #{$cls}__text {
                color: $white;
            }
        }
        &--white {
            #{$cls}__text {
                color: $black;
            }
        }
    }
}