.footer {
    padding: 40px 30px;
    width: 100%;
    background-image: url('../assets/darthvader.jpg');
    background-size: cover;
    background-position: 50% 50%;

    @include for('tablet+1') {
        padding: 40px 60px;
    }

    &__preamble {
        text-align: center;
        font-size: .875rem;
        color: $gray-2;
        margin: 15px 0;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        max-width: $content-width;
        margin: 0 auto;
    }

    &__nav {
        flex: 0 0 100%;
        column-count: 2;
        @include for('tablet+1') {
            flex: 0 0 calc(100% * 2/3);
        }
    }

    &__link {
        font-size: .75rem;
        color: $gray-2;
        text-transform: capitalize;
    }

    &__item {
        margin-bottom: 10px;
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;

        &-icon {
            width: 32px;
            height: 32px;
            margin-right: 15px;
        }
    }

    &__follow {
        flex: 0 0 100%;
        margin: 20px 0;

        &-preamble {
            text-transform: uppercase;
            color: $gray-2;
            text-align: center;
        }

        @include for('tablet+1') {
            margin: 0;
            flex: 0 0 calc(100% * 1/3);
        }
    }
}